h1 {
    color: green;
    margin: 0;
}
h2 {
    text-align: center;
    padding-top: 50px;
}
.nav > li {
    display: inline-block;
}
.btn-nav-perso {
    font-weight: 300;
    color: white;
    border: 1px; solid green;

}

body {
background-color: #dbdbdb;

}
